body {
  background-color: #1a1a1a; /* Dark background */
}

nav {
  color: white;
}




.hero {
  .content-box {
    background-color: transparent;
    color: white;
    padding: 40px 20px 20px; /* Extra padding on top for the overlap */
    border-radius: 10px;
    border: 2px solid green;
    text-align: center;
    max-width: 700px;
    margin: 50px auto;
    position: relative;
  }
  .yellow-strip {
    background-color: green;
    color: white;
    padding: 10px 0;
    font-weight: bold;
    position: absolute;
    top: -20px; /* To overlap the main box */
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    border-radius: 5px;
    border: 2px solid green;
  }
  .main-text {
    font-size: 1.8rem;
    margin: 20px 0;
    font-weight: bold;
  }
  .sub-text {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
  }
}



.intro{
    .heading{
        color: white;
    }
}


.benifits{

    .text{
        color: white;
    }


    .cards{

        .card{

            img{
                width: 20%;
            }
        }
    }
}


.testimonial{
    color: white;
    margin-bottom: 200px;

    .card{
        color: black;
    }
}



